In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
def get_matches(year):
  url = f"https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup" # iteramos para buscar en los años especificos
  response = requests.get(url)
  content = response.text 
  # paser
  soup = BeautifulSoup(content,'lxml') 
  # extraer data usando find
  matches = soup.find_all('div',class_='footballbox') # EXTRAER TODAS LAS TABLAS CON ESE NOMBRE DE CLASE
  
  # extraer valores nombre del equipo local vs visitante y score
  home_teams = []
  score = []
  away_teams = []

  # iterar por cada fila y extraer datos especificos
  for match in matches:
    home_teams.append(match.find('th',class_='fhome').get_text())  # extraer el nombre del equipo local(A)
    score.append(match.find('th',class_='fscore').get_text()) # extraer resultado score(A vs B)
    away_teams.append(match.find('th',class_='faway').get_text())  # extraer el nombre del equipo visitante(B)

  # crear un diccionario
  dict_world_football = {'home_teams': home_teams , 'score': score ,'away_teams': away_teams}
  # crear el dataframe
  df_football_world = pd.DataFrame(dict_world_football)
  # agregando la columna año del mundial
  df_football_world['year'] = year

  return df_football_world

In [ ]:
# extrayendo datos de todos los mundiales
years = [1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,
         1978,1982,1986,1990,1994,1998,2002,2006,2010,2014,
         2018]

# extrayendo los datos históricos
# ------------------------------------------------------------------
fifa = [get_matches(year) for year in years] # lista de dataframes
# concatenar todos los dataframes
df_football_worldcup=pd.concat(fifa, ignore_index=True)
# exportar en formato CSV
df_football_worldcup.to_csv('worldcup.csv',index=False)


# extrayendo proximos partidos en el 2022(para predecir)
# ------------------------------------------------------------------
df_future_matches = get_matches('2022') # devolvera 1 solo dataframe de dicho año
# exportar en formato CSV
df_future_matches.to_csv('worldcup2022_fixture.csv',index=False)

In [ ]:
df_football_worldcup

     home_teams         score away_teams  year
0       France            4–1     Mexico  1930
1    Argentina            1–0     France  1930
2        Chile            3–0     Mexico  1930
3        Chile            1–0     France  1930
4    Argentina            6–3     Mexico  1930
..          ...           ...        ...   ...
548     Russia   2–2 (a.e.t.)    Croatia  2018
549     France            1–0    Belgium  2018
550    Croatia   2–1 (a.e.t.)    England  2018
551    Belgium            2–0    England  2018
552     France            4–2    Croatia  2018

[553 rows x 4 columns]